<footer class="footer">
    <div class="footer-container">
      <div class="footer-section footer-logo">
        <img src="/assets/img/caft.png" alt="Logo" />
      </div>
  
      <div class="footer-section footer-info">
        <h3>CraftTilo</h3>
        <p>Route Taniour Km 5.5 ,Sfax</p>
        <p>Email: amal.dhouib&#64;supcom.tn</p>
        <p>Phone: +216 27721404</p>
      </div>
  
      <div class="footer-section footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
     <div class="footer-section p">
        <p >
            Don’t hesitate to reach out to us for any questions or assistance.  
    Our team is here to help you find the perfect product and ensure your satisfaction.
          </p>
     </div>
      
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 CraftTilo. All rights reserved.</p>
    </div>
  </footer>
  