.about-container {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  padding-bottom: 3rem;
  margin-top: 95vh; 
  width: 100%;
  
}

.about-hero {
  background: url('https://thumbs.dreamstime.com/b/texture-de-papier-chiffonn-e-blanche-fond-doux-151710189.jpg');
  background-color: #faf3e0;
  color: #4a2d2d;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Rowdies', sans-serif;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  
}


.hero-text {
  max-width: 800px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 22%;
 
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  background: linear-gradient(135deg, #ff1205, #dd8e19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  animation: fadeInText 1s ease-in-out;
}

.hero-text p {
  font-size: 1.4rem;
  color: #584848;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
  max-width: 600px;
  margin: 0 auto 20px;
  animation: fadeInText 1.4s ease-in-out;
}

@keyframes fadeInSlide {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-section {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}

.about-section.reverse {
  flex-direction: row-reverse;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.03);
}

.about-content {
  flex: 1 1 400px;
  max-width: 600px;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #111;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column !important;
    text-align: center;
  }

  .about-image img {
    max-width: 90%;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 1rem;
    font-weight: 0;
  }
}
