<nav class="navbar">
    <div class="navbar-logo">
      <img src="assets/img/caft.png" alt="Logo" />
      <span>CraftTilo</span>
    </div>
  
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="hamburger">&#9776;</label>
  
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a routerLink="/products">Discover Products</a></li>
      <li><a [routerLink]="'/favorite'" *ngIf="isLoggedIn">Favorite</a></li>
      <li><a routerLink="/cart" *ngIf="isLoggedIn">Cart</a></li>
      <li><a routerLink="/order" *ngIf="isLoggedIn">Orders</a></li>
    </ul>
  
    <div class="navbar-right">
     
  
      <div class="theme-toggle">
        <input type="checkbox" id="themeToggle" />
        <label for="themeToggle">🌙</label>
      </div>
  
    
  
      <div class="auth-buttons">
        <ng-container *ngIf="!isLoggedIn">
          <button routerLink="/login" class="btn-login">Login</button>
          <button routerLink="/register" class="btn-register">Register</button>
        </ng-container>
      
        <ng-container *ngIf="isLoggedIn">
          <button (click)="logout()" class="btn-logout">Logout</button>
        </ng-container>
      </div>
      

    </div>
  </nav>
  