
<div class="product-detail-container" *ngIf="product">
    <div class="product-image-section">
      <button class="button" [routerLink]="['/products']"  ><img src="assets/img/arrow.png" alt=""></button>

      <img [src]="'http://localhost:8080/upload/files/' + product.image" [alt]="product.name" />
     
      </div>
  
    <div class="product-info-section">
      <div class="section1">
        <h2>{{ product.name }}</h2>


        <button class="cart" [routerLink]="'/cart'">  <img src="assets/img/cart5.png" alt=""></button>

      </div>
      <p class="price">Price: {{ product.price }} €</p>
      <p><strong>Description:</strong> {{ product.description }}</p>
      <p><strong>Stock:</strong> {{ product.stockQuantity }}</p>
      <p><strong>Category:</strong> {{ product.category?.name }}</p>
      <p><strong>Material:</strong> {{ product.material }}</p>
      <p><strong>Technique:</strong> {{ product.technique }}</p>
      <p><strong>Country of Origin:</strong> {{ product.originCountry }}</p>
      <p><strong>Production Time:</strong> {{ product.productionTime }}</p>
      <p><strong>Eco-Friendly:</strong> {{ product.ecoFriendly ? 'Yes' : 'No' }}</p>
      <p style="margin-bottom: 0;"><strong>Limited Edition:</strong> {{ product.limitedEdition ? 'Yes' : 'No' }}</p>
    <div class="im">
          <button (click)="addCart()"><img src="assets/img/acart.png" alt=""></button>
    </div>

    </div>
  </div>
  